body {
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
  background: var(--bg-body);
  line-height: 1.7;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 600;
}

p {
  color: var(--text-secondary);
}