:root {
    
  /* =========================
     COLOR SYSTEM
  ========================= */

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-secondary: #38bdf8;
  --color-accent: #f59e0b;

  /* =========================
     BACKGROUND
  ========================= */

  --bg-body: #020617;
  --bg-section: #0f172a;
  --bg-card: #1e293b;

  /* =========================
     TEXT
  ========================= */

  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;

  /* =========================
     BORDER
  ========================= */

  --border-color: #334155;

  /* =========================
     RADIUS
  ========================= */

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-xl: 32px;

  /* =========================
     SHADOW
  ========================= */

  --shadow-card: 0 10px 30px rgba(0, 0, 0, .25);

  /* =========================
     CONTAINER
  ========================= */

  --container: 1200px;
}